#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

#define ZMK_MOUSE_DEFAULT_SCRL_VAL 150   //スクロール量



    //新たな動作を定義する
    behaviors {
        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
            // 追加: スクロールのタップ時間を設定 (20ms)
            tap-ms = <20>;
        };

            bot: boot {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms =<8000>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <125>;
            bindings = <&bootloader>, <&mkp>;
        };

            rst: reset {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms =<8000>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <125>;
            bindings = <&sys_reset>, <&mkp>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                
                &none
            >;

        };


    };
};
